<app-navigation></app-navigation>
<p class="h3 head-title">Управление лекциями</p>

<div class="card card-body">
  <label for="name">Заголовок</label>
  <input id="name" [(ngModel)]="this.lecture.name" class="form-control" type="text"><br>

  <label for="description">Описание</label>
  <input id="description" [(ngModel)]="this.lecture.description" class="form-control" type="text"><br>

  <button class="btn btn-light" (click)="save()">Создать</button><br>
</div>

<div>
  <div class="green-back" *ngFor="let l of lectures; index as i">
    <div class="card card-body dark-green-back">
    <span>{{l.name}} {{l.description}}
      <span style="float: right">
        <button class="btn btn-danger" style="margin-right: 10px" (click)="delete(l.id, i)">Удалить</button>
        <a class="btn btn-warning" [routerLink]="['/lectures/manage/', l.id]" >Обновить</a>
      </span>
      </span>
    </div>
  </div>
  <br>
</div>
